*{
    padding: 0;
    margin: 0;
    background-color: silver;
}
body{
    display: flex;
    justify-content: center;
}

.headingg{
    margin: 10px 0;
    padding: 0;
    background-color: rgb(152, 152, 252);
}

#txt{
    border: 2px solid red;
    width: 400px;
    margin: 5px 0;
}
#bttn{
    margin: 0;
    padding: 0;
    border: 2px solid black;
}